[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
psycopg2 = "==2.7.7"
psycopg2-binary = "==2.7.7"
django-environ = "*"
gevent = "*"
whitenoise = "*"
raven = "*"
djangorestframework = "*"
django-mptt = "*"
drf-yasg = "*"

[dev-packages]
werkzeug = "*"
django-debug-toolbar = "*"
ipdb = "*"
pytest = "*"
pytest-django = "*"
django-extensions = "*"
pytest-isort = "*"
pytest-sugar = "*"
coverage = "*"
django-coverage-plugin = "*"
pytest-cov = "*"
codecov = "*"
black = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
